* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #9A969C;
}

#columns {
  background-color: #fff;
  width: 83%;
  float: right;
}

nav {
  float: left;
  background-color: #9A969C;
  width: 17%;
  height: 100%;
}

.icon {
  width: 150px;
  height: auto;
  margin: 20px;
}

ul.site-nav li {
  list-style:  none;
  font-weight: 700;
}

.site-nav li {
  margin: 50px 0px;
}

ul.mobile-list li{
  display: none;
}

.name-dog-form {
  background-color: #3E3544;
  color: #fff;
  height: 450px;
}

.dog-img {
  border-radius: 50%;
  border: 4px solid #9A969C;
  width: 200px;
}

.some-dog-img {
  width: 400px;
  position: relative;
  left: 30px;
  bottom: 142px;
}

form {
  position: relative;
  bottom: 425px;
  left: 62%;
  font-weight: 300;
  width: 37%;
}

h1 {
  font-weight: 300;
  font-size: 2.3em;
  text-align: right;
  padding-top: 85px;
  padding-right: 20px;
}

.some-dog {
  font-weight: 800;
}

.form-label {
  text-align: left;
  margin-bottom: -15px;
}

.form-label,
.form-input,
.form-btn {
  height: 50px;
  display: block;
  width: 400px;
  border: none;
  outline: none;
}

.form-btn {
  margin-top: 20px;
  background-color: #9A969C;
  font-size: 1.5em;
  font-family: 'Roboto Slab', serif;
  }
}

h3 {
  font-size: 1.8em;
}

.style-main-imgs {
  display: block;
}

.content {
  padding: 40px;
}

article {
  border-bottom: 2px solid #9A969C;
}

div {
  padding: 0px 40px;
  border-left: 2px solid #3E3544;
}

.how-what-facts {
  font-size: 1.8em;
  margin: 20px 0px 20px 45px;
}

.how-what-facts-info {
  padding-bottom: 30px;
  column-count: 2;
}

.info-btn {
  background-color: #3E3544;
  color: #fff;
  border: none;
  display: block;
  font-size: 1.3em;  
}


.dog-img {
  margin: 30px;
}

footer {
  background-color: #3E3544;
  width: 83%;
  float:right;
  height: 200px;
}

.style-bottom-article {
  border-bottom: none;

}
